plugins {
    id 'java'
}

group = '{{groupId}}'
version = '{{projectVersion}}'

java {
    sourceCompatibility = JavaVersion.VERSION_17
    targetCompatibility = JavaVersion.VERSION_17
}

repositories {
    mavenCentral()
}
