# kafka
# --- Required ---
KAFKA_PORT=9092
KAFKA_HOST_PORT=29092
KAFKA_CONTROLLER_PORT=9093
# --- Optional ---
KAFKA_JMX_PORT=10121 # enables JMX interface
KAFKA_DATA_DIR=/data/kafka/docker # enables persistence across runs


# etcd
# --- Required ---
ETCD_CLIENT_PORT=2379
ETCD_PEER_PORT=2380
# --- Optional ---
ETCD_DATA_DIR=/data/etcd/docker # enables persistence across runs
